body {
    background-color: #222222;
}

:root {
	--grid-cols: 1;
	--grid-rows: 1;
}

#container {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: auto 30em auto;
    grid-template-rows: 30em 5em;
    grid-template-areas: 
        "side-l grid side-r"
        "foot foot foot";
}

#grid-container {
    background-color: #acacac;
    border: 1px solid black;
    display: grid;
    grid-gap: 0em;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    grid-area: grid;
}

#sidebar-left {
    background-color: yellow;
    grid-area: side-l;
}

.sidebar-left-button {
    height: 3rem;
    font-size: 1.5rem;
    background-color: #acacac ;
    color: blue;
    font-family: Monaco;
    border: solid 2px blue;
    border-radius: 1rem;
}

.sidebar-left-button:hover {
    border: none;
    box-shadow: 0px 0px 4px 4px blue;
}

#sidebar-right {
    background-color: red;
    grid-area: side-r;
}

#footer {
    background-color: transparent;
    grid-row: 2 / 3; 
    grid-area: foot;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.footer-button {
    width: 8rem;
    height: 3rem;
    font-size: 1.5rem;
    background-color: #acacac ;
    color: blue;
    font-family: Monaco;
    border: solid 2px blue;
    border-radius: 1rem;
    margin: 5px;
}

.footer-button:hover {
    border: none;
    box-shadow: 0px 0px 4px 4px blue;
}

.grid-item {
    border: 1px solid #afafaf;
}
